<h1>List of clubs</h1>

<%= link_to 'Add club', new_club_path %>
 
<table>
  <tr>
    <th>Name</th>
    <th>Stadium</th>
    <th></th>
  </tr>
 
  <% @clubs.each do |club| %>
    <tr>
      <td><%= link_to club.name, club_path(club) %></td>
      <td><%= link_to club.stadium, club_path(club) %></td>
      <td><%= link_to 'Edit', edit_club_path(club) %></td>
      <td><%= link_to 'Delete', club_path(club),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Back', root_path %>