<%= form_with model: @season, local: true do |form| %>
 
  <% if @season.errors.any? %>
    <div class="alert alert-danger">
      <h3>
        <%= pluralize(@season.errors.count, "error") %> prohibited this season from being saved:
      </h3>
      <ul>
        <% @season.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, class:'badge badge-primary fa-lg' %>
    <%= form.text_field :name, class:'form-control' %>
  </div>

  <p>
    <%= form.label "Club(s)", class:"badge badge-primary fa-lg" %><br />
      <%= form.collection_check_boxes :club_ids, Club.all, :id, :name do |b| %>        
        <%= b.check_box class:"checkbox-custom" %>
        <%= b.label class:"checkbox-custom-label btn btn-dark"%>
    <% end %>
  </p>

  <%= button_tag(type: "submit", class: "btn btn-block btn-outline-primary fa-lg mb-1") do %>
    <span><i class="fas fa-plus-circle"></i> Save season</span>
  <% end %>
<% end %>